# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Environment files
.env
*.env

# Virtual environments
venv/
.env/
*.venv/

# Logs and debug files
*.log
*.tmp
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Python cache files
*.cache

# Metadata
*.json~
*.csv~
*.db

# Videos and frames (if processed externally)
videos/
frames/

# IDE and editor-specific files
.vscode/
.idea/
*.swp
*.swo
